//Colors =>
$color-blue-dark: #021B79;
$color-blue-light: #0575E6;

$color-grey-dark:  #282c34;
$color-white: #f9f9f9;
$color-black: #000;

// Animation
$blink-animation: blink 1s ease infinite;

//Typography =>
$game-font: 'Press Start 2P', cursive;
$fs-xsm: 1rem;
$fs-sm: 1.2rem;
$fs-regular: 1.4rem;
$fs-md: 1.6rem;
$fs-lg: 1.8rem;
$fs-xlg: 2rem;
$letter-spacing-button: 5px;
$letter-spacing-text: 1.5px;
