body {
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  font-family: $game-font;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $color-white;
  text-decoration-color: none;

  & :active, ::after, :visited {
    color: $color-white;
  }
  
}

.title {
  font-size: $fs-lg;
  letter-spacing: $letter-spacing-text; 
  text-shadow: .2rem .1rem .2rem #c8c8c8;
}

.subtitle {
  font-size: $fs-regular;
}
