.u-center-text {
  text-align: center;
}

.u-underline-onhover:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.u-self-centered {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
