.profile {
  letter-spacing: $letter-spacing-text;
	min-height: 100vh;
	display: grid;
	grid-gap: 1rem;
	grid: 'header' auto
  'nav' auto
  'main' 1fr
  'footer' auto
  / 1fr;
  color: $color-white;
  padding: 1rem 1rem;

  &__header {
    grid-area: header;
  }

  &__nav {
    grid-area: nav;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & .link-list {
      margin-top: 1rem;
      border: 5px solid $color-white;
      border-radius: 6px;
      padding: 0 0 20px 0;
      
      &__title {
        background: $color-white;
        color: $color-blue-dark;
        padding: 1rem;
        text-decoration: underline;
        text-decoration-color: $color-blue-dark;
        
      }
      
      & li {
        margin-left: 3rem;
        margin-top: 1rem;
        list-style-type: circle;
      }
    }
  }

  &__main {
    grid-area: main;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &--title {
      border: .5rem groove #fff;
      width: auto;
      padding: 2rem 2.5rem;
    }

  }
  
  &__photo {
    display: flex;
    flex-direction: column;
    text-align: center;
    & img {
      border-radius: 50%;
      width: 130px;
      align-self: center;
    }
  }

  &__return-button {
    font-size: $fs-regular;
    animation: $blink-animation;
    letter-spacing: $letter-spacing-button;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
  }

  &__header, &__nav, &__main, &__footer {
    background: $color-blue-light;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, $color-blue-dark, $color-blue-light);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, $color-blue-dark, $color-blue-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem;
  }
}

@media (min-width: 800px) {
	.profile {
		grid: 'header header' auto
			'nav main' 1fr
			'nav footer' auto
			/ 25rem 1fr;
	}
}
